{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block content %}
{% import "UI/index_paginate.html" as pg %}
     <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb" style="margin-top:6px;">
                <li>与"{{ key }}"有关的电影，共{{ counts }}部</li>
            </ol>
        </div>

        <div class="col-md-12">
            {% for v in data.items %}
            <div class="media">
                <div class="media-left">
                    <a href="{{ url_for('blog.play',id=v.id,page=1) }}">
                        <img class="media-object" src="{{ url_for('static',filename="uploads/"+v.logo) }}" alt="环太平洋" style="width: 131px;height: 83px">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ v.title}}<a href="{{ url_for('blog.play',id=v.id,page=1) }}" class="label label-primary pull-right"><span class="glyphicon glyphicon-play"></span>播放影片</a></h4>
                   {{ v.info }}
                </div>
            </div>
             {% endfor %}
        </div>

        <div class="col-md-12 text-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {{ pg.pagination1(url='blog.search',data=data,key=key) }}
{#                    <li>#}
{#                        <a href="#" aria-label="First">#}
{#                            <span aria-hidden="true">首页</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#" aria-label="Previous">#}
{#                            <span aria-hidden="true">上一页</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li><a href="#">1&nbsp;/&nbsp;10</a></li>#}
{#                    <li>#}
{#                        <a href="#" aria-label="Next">#}
{#                            <span aria-hidden="true">下一页</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="#" aria-label="Last">#}
{#                            <span aria-hidden="true">尾页</span>#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
            </nav>
        </div>
    </div>
{% endblock %}