{% extends 'hdmin/base_admin.html' %}
{% block content %}
{% import "UI/paginate.html" as pn %}
<section class="content-header">
            <h1>微电影管理系统</h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 标签管理</a></li>
                <li class="active">标签列表</li>
            </ol>
        </section>
        <section class="content" id="showcontent">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">标签列表</h3>
                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input id="se1" type="text" name="table_search" class="form-control pull-right"
                                           placeholder="请输入关键字..." value="">

                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default" ><i class="fa fa-search" ></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>编号</th>
                                    <th>名称</th>
                                    <th>添加时间</th>
                                    <th>操作事项</th>
                                </tr>
                                {% for v in page_data.items %}
                                <tr>
                                    <td>{{ v.id }}</td>
                                    <td>{{ v.name}}</td>
                                    <td>{{ v.add_time }}</td>
                                    <td>
                                        <a class="label label-success">编辑</a>
                                        &nbsp;
                                        <a id="del1" onclick="show_confirm({{ v.id }})" class="label label-danger" >删除</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="box-footer clearfix">
                           {{ pn.render_pagination(page_data, "admin.tag_list") }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
{% block js %}
    <script>
        function show_confirm(tag_id) {
            var result = confirm("是否删除")
            if(result) {
                document.getElementById('del1').href ="/admin/tag/delete/"+tag_id
                alert('删除成功')
            }
        }
        function search1() {
            var val= document.getElementById("se1").value

        }

    </script>
{% endblock %}